@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 100% 7%;

    --card: 0 0% 100%;
    --card-foreground: 240 100% 7%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 100% 7%;

    --primary: 240 100% 7%;
    --primary-foreground: 0 0% 100%;

    --secondary: 25 100% 51%;
    --secondary-foreground: 0 0% 100%;

    --muted: 0 0% 94.5%;
    --muted-foreground: 0 0% 54.5%;

    --accent: 0 0% 94.5%;
    --accent-foreground: 240 100% 7%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 80%;
    --input: 0 0% 80%;
    --ring: 240 100% 7%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 100% 8%;
    --foreground: 0 0% 100%;

    --card: 240 100% 8%;
    --card-foreground: 0 0% 100%;

    --popover: 240 100% 8%;
    --popover-foreground: 0 0% 100%;

    --primary: 0 0% 100%;
    --primary-foreground: 240 100% 7%;

    --secondary: 25 100% 51%;
    --secondary-foreground: 0 0% 100%;

    --muted: 0 0% 43%;
    --muted-foreground: 0 0% 54.5%;

    --accent: 0 0% 43%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 43%;
    --input: 0 0% 43%;
    --ring: 0 0% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
